* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
  text-decoration: none;
  list-style-type: none;
}
body {
  height: 100vh;
  padding: 1rem 3rem 3rem;
  background: radial-gradient(
      75.8% 149.89% at 24.2% 69.34%,
      rgba(75, 12, 12, 0.6) 0%,
      rgba(0, 0, 0, 0) 100%
    ),
    radial-gradient(100% 197.75% at 100% 0%, #000000 0%, #434343 100%);
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: end;
  color: #ffffff;
}
.logoContainer h1 {
  font: 4.87rem "Dancing Script";
}
.logoContainer span {
  font: 3.125rem Roboto;
}

fieldset {
  margin: 5vh auto;
  padding: 2rem 0;
  width: 40vw;
  height: 50vh;
  border-radius: 15px;
  background-color: #ffffff15;
  position: relative;
}
legend {
  width: 200px;
  height: 80px;
  padding: 11px 38px;
  margin-left: 5vh;
  background: #c4c4c4;
  border-radius: 120px/50px;
  border: 2px groove #ffffff;
  font: 2.75rem "Dancing Script";
}
fieldset div {
  width: 80%;
  margin: 0 auto 0.5rem;
  display: flex;
  align-items: center;
}
fieldset label {
  color: #ffffff;
  font: 200 2.31rem Roboto;
  width: 235px;
  display: inline-block;
}
fieldset input {
  width: 50%;
  height: 1.8rem;
  padding-left: 0.5rem;
  border-radius: 5px;
  background-color: #c4c4c4;
  cursor: pointer;
}
fieldset input[type="submit"] {
  height: 40px;
  width: 200px;
  border-radius: 10px;
  display: inline-block;
  border: 2px groove #ffffff;
  background-color: #c4c4c4;
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font: 1.25rem Roboto;
  letter-spacing: 2px;
}
